/* CartItems.css */

.cartitems {
    margin: 100px 170px;
}
.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    padding: 15px 0;
}
.carttitems-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    gap: 10px;
}
.carticon-product-icon {
    height: 62px;
    width: 62px;
    cursor: pointer;
}
.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.cartitems-down {
    display: flex;
    margin: 100px 0px;
    flex-wrap: wrap;
    gap: 40px;
}
.cartitems-total, .cartitems-promocode {
    flex: 1;
}
.cartitems-total {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cartitems-total-item, .cartitems-total-items {
    display: flex;
    justify-content: space-between;
}
.cartitems-total button, .cartitems-promobox button {
    width: 100%;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode {
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p {
    color: #555;
}
.cartitems-promobox {
    display: flex;
    margin-top: 15px;
    background: #eaeaea;
    gap: 10px;
}

/* Media Queries for Responsive Design */
@media(max-width: 1280px) {
    .cartitems {
        margin: 60px 50px;
    }
    .cartitems-format-main {
        grid-template-columns: 0.5fr 2fr 1fr 0.5fr;
        gap: 15px;
        font-size: 15px;
    }
    .carttitems-format {
        grid-template-columns: 0.5fr 2fr 1fr 1fr;
        gap: 10px;
    }
    .carticon-product-icon {
        height: 50px;
    }
    .cartitems-down {
        flex-direction: column;
    }
}

@media(max-width: 600px) {
    .cartitems-format-main {
        display: none;
    }
    .carttitems-format {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .cartitems-product-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cartitems-total {
        margin: 0;
    }
}
